

html{ height: 100%; }
body{
    display: flex;
    flex-direction: column; 
    height: 100%; 
    gap: 10px;
    /* overflow: hidden; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: antiquewhite;
}

.vega-bind{
    display: hidden;
}

h1{ 
    margin: 0%; 
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}
h2{ 
    margin: 0%;
    font-weight: 300;
}
h3{ 
    margin: 0%; 
    font-weight: lighter;
}
h4{ 
    margin: 0%;
    font-weight: lighter;
 }
p { 
    margin: 0%; 
    font-weight: lighter;
}


.viz-section-col{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 1%;
}
.viz-section-row{
    display: flex;
    /* background-color: blue; */
    color: black;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    margin: 1%;
    overflow: hidden;
}

#viz1{
    padding: 10px;
    margin: 0%;
    width: 96%;
    display: grid;
}

#viz2{
    padding: 10px;
    margin: 0%;
    width: 63%;
    display: flex;
    justify-self: start;
    flex-direction: row;
}

#viz2-text{
    padding: 10px;
    margin: 0%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.viz-container{
    width: 100%;
    display: flex;  
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}



